<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="600px-no-image.png" style="width:300px;height:100%;" title="fighter_red" th:src="${r_img}">
    <img src="600px-no-image.png" style="width:300px;height:100%;" title="fighter_blue" th:src="${b_img}">
    <p title="question" th:text="${question}">Question</p>
    <form method="post">
        <button name="btn" type="submit" th:value="${red_fighter}" th:text="${red_fighter}"></button>
        <button name="btn" type="submit" th:value="${blue_fighter}" th:text="${blue_fighter}"></button>
    </form>
<!--    <p title="feedback" th:text="${feedback}"></p>-->
<!--    <form method="post">-->
<!--        <button name="btn_next" type="submit" value="next">Next</button>-->
<!--    </form>-->

</body>
</html>