<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="600px-no-image.png" style="width:300px;height:300px;" title="fighter_red">
    <img src="600px-no-image.png" style="width:300px;height:300px;" title="fighter_blue">
    <p title="question">Question</p>
    <form method="post">
        <button name="btn" type="submit" value="red">RED</button>
        <button name="btn" type="submit" value="blue">BLUE</button>
    </form>


</body>
</html>